.completed{
    text-decoration: line-through;
    text-decoration-style: double;
    text-decoration-color: black;
}
li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid grey;
    padding: 1%;
    margin-bottom: 1vh;
    border-radius: 5px;
    background: #fffaf024;

}
.check{
    color:#45ff45;
}
.delete{
   color:#ffd4d4;
}